/*---------------------------------------------------------------
>>> TABLE OF CONTENTS:
-----------------------------------------------------------------
/*---------------------------------------------------------------
1.0 Reset
---------------------------------------------------------------*/
/*---------------------------------------------------------------
2.0 Header
---------------------------------------------------------------*/
/*---------------------------------------------------------------
3.0 Banner
---------------------------------------------------------------*/
/*---------------------------------------------------------------
4.0 Main 
---------------------------------------------------------------*/
/*---------------------------------------------------------------
5.0 Footer
---------------------------------------------------------------*/
/*---------------------------------------------------------------
6.0 Responsive
---------------------------------------------------------------*/
/*---------------------------------------------------------------
1.0 Reset
---------------------------------------------------------------*/
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
body,
html {
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100%; }

.wrapper {
  min-height: 100%;
  overflow-x: hidden;
  position: relative; }

ul,
ol {
  padding: 0;
  margin-bottom: 0; }

ol {
  margin-left: 1.1em; }

address {
  margin-bottom: 0; }

img {
  height: auto;
  max-width: 100%; }

.center-block {
  float: none; }

/*---------- Heading ----------*/
h1 {
  font-size: 56px;
  text-transform: uppercase;
  font-weight: 700; }
  @media only screen and (max-width: 1499px) {
    h1 {
      font-size: 40px; } }

h2, h2 a {
  font-size: 46px;
  text-transform: uppercase;
  font-weight: 900; }
  @media only screen and (max-width: 1499px) {
    h2, h2 a {
      font-size: 35px; } }

h3, h3 a {
  font-size: 30px;
  text-transform: normal;
  font-weight: 900; }
  @media only screen and (max-width: 1499px) {
    h3, h3 a {
      font-size: 22px; } }

h4, h4 a {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 400;
  color: #171717; }
  @media only screen and (max-width: 1499px) {
    h4, h4 a {
      font-size: 19px; } }

h5, h5 a {
  font-size: 18px;
  font-weight: 400; }

h6, h6 a {
  font-size: 16px; }

p {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.7em;
  color: #171717; }

span {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 10px;
  font-family: "Roboto", sans-serif;
  white-space: normal;
  word-break: break-all; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
blockquote,
pre,
#calendar_wrap caption {
  word-break: break-word;
  word-wrap: break-word; }

/*---------- Form ---------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
button[type="submit"] {
  font-family: "Roboto", sans-serif;
  padding: 8px 15px;
  border: 1px solid #444242;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  text-transform: uppercase;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  -webkit-box-shadow: none;
  box-shadow: none;
  line-height: 1.5em;
  background: #444242;
  min-width: 175px;
  border-radius: 0;
  color: #ffffff;
  font-weight: 700; }

button:hover,
button:focus,
button[disabled]:hover,
button[disabled]:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus,
button[type="submit"]:hover,
button[type="submit"]:focus {
  border: 1px solid #444242;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #ffffff;
  color: #444242; }

.button:focus,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
  outline: 0; }

input[type="text"] {
  text-transform: capitalize !important; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
.form-control {
  padding: 2px 20px;
  width: 100%;
  border-radius: 0;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #555555;
  font-size: 15px;
  border-color: #cbcbcb; }
  @media only screen and (max-width: 1499px) {
    input[type="text"],
    input[type="email"],
    input[type="url"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="number"],
    .form-control {
      font-size: 15px;
      padding: 2px 15px; } }

textarea.form-control {
  padding: 20px;
  resize: none; }
  @media only screen and (max-width: 1499px) {
    textarea.form-control {
      padding: 10px 15px; } }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"] {
  height: 48px; }
  @media only screen and (max-width: 1499px) {
    input[type="text"],
    input[type="email"],
    input[type="url"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="number"] {
      height: 45px; } }

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea.form-control:focus,
.form-control:focus {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #0d2f9a; }

.slick-slide {
  outline: none; }

.form-control::-webkit-input-placeholder {
  color: #555555;
  text-transform: uppercase; }

.form-control::-moz-placeholder {
  color: #555555;
  text-transform: uppercase; }

.form-control:-ms-input-placeholder {
  color: #555555;
  text-transform: uppercase; }

input:-moz-placeholder {
  color: #555555;
  text-transform: uppercase; }

/*---------- 2.1.3 Links ----------*/
a {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  ffont-family: "Roboto", sans-serif;
  font-weight: 400; }

a:hover,
a:active,
a:focus {
  outline: 0;
  text-decoration: none;
  color: #1a75bb; }

/*---------- 2.2 Table -----------*/
table,
th,
td {
  border: 1px solid #eaeaea; }

table {
  width: 100%; }

th,
td {
  padding: 0.4375em; }

table,
dd,
address {
  margin: 0 0 1.75em; }

/*---------------------------------------------------------------
2.0 Header
---------------------------------------------------------------*/
header {
  border-bottom: 1px solid #ffffff; }
  header .header-top {
    padding: 25px 0px;
    background: #ffffff; }
    header .header-top .container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
    header .header-top .header-logo {
      -ms-flex-item-align: center;
      align-self: center; }
      header .header-top .header-logo a {
        display: inline-block; }
    header .header-top .header-content {
      -ms-flex-item-align: center;
      align-self: center;
      width: 350px; }
      header .header-top .header-content h4 {
        margin-bottom: 0px;
        font-size: 27px;
        font-family: "Roboto", sans-serif;
        font-weight: 900; }
        header .header-top .header-content h4:first-child {
          text-align: left;
          color: #c91115; }
        header .header-top .header-content h4:nth-child(2) {
          text-align: right;
          color: #0d2f9a; }
    header .header-top .contact-info {
      -ms-flex-item-align: center;
      align-self: center; }
      header .header-top .contact-info span {
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px; }
      header .header-top .contact-info a {
        display: inline-block;
        vertical-align: middle;
        font-size: 30px;
        color: #0d2f9a;
        font-family: "Roboto", sans-serif;
        font-weight: 700; }
        header .header-top .contact-info a:hover {
          color: #c91115; }
  header .header-bottom {
    background: #0d2f9a; }
    header .header-bottom .navbar {
      padding: 0; }
      header .header-bottom .navbar .navbar-nav > li {
        border-right: 1px solid rgba(255, 255, 255, 0.3); }
        header .header-bottom .navbar .navbar-nav > li > a {
          color: #ffffff;
          font-family: "Roboto", sans-serif;
          font-weight: 500;
          font-size: 15px;
          text-transform: uppercase;
          display: inline-block;
          padding: 0px;
          padding: 18px 22px;
          -webkit-transition: all 0.3s ease-in-out 0s;
          -o-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s; }
          @media only screen and (max-width: 1499px) {
            header .header-bottom .navbar .navbar-nav > li > a {
              font-size: 13px; } }
          header .header-bottom .navbar .navbar-nav > li > a:hover {
            background: #ffffff;
            color: #0d2f9a; }
      header .header-bottom .navbar .collapse {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
        header .header-bottom .navbar .collapse .nav {
          -ms-flex-item-align: center;
          align-self: center; }

/*----- Social Share -----*/
.social-share {
  -ms-flex-item-align: center;
  align-self: center; }
  .social-share li {
    position: relative; }
  .social-share a {
    border: 1px solid #ffffff;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    display: inline-block;
    text-align: center;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
    padding: 3px; }
    .social-share a:hover {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg); }

/*----- Sticky Header -----*/
.fixed-header {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  opacity: 1;
  visibility: visible;
  z-index: 999;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 0px; }
  .fixed-header .header-top {
    padding: 16px 0px; }
    .fixed-header .header-top .header-logo a {
      width: 70%; }
    .fixed-header .header-top .header-content h4 {
      font-size: 22px; }
    .fixed-header .header-top .contact-info a {
      font-size: 25px; }

/*---------------------------------------------------------------
3.0 Banner
---------------------------------------------------------------*/
/*------ Home Banner -----*/
.section-block-Banner {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 750px;
  position: relative; }
  @media only screen and (max-width: 1499px) {
    .section-block-Banner {
      height: 600px; } }
  .section-block-Banner .container {
    position: relative;
    height: 100%; }
  .section-block-Banner .list-wrap {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-right: 10px solid #0d2f9a; }
    .section-block-Banner .list-wrap li {
      position: relative;
      list-style: none;
      padding-left: 22px;
      font-size: 14px;
      color: #171717;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      margin-bottom: 10px; }
      .section-block-Banner .list-wrap li:before {
        position: absolute;
        top: -1px;
        bottom: 0;
        left: 0;
        content: "\f046";
        font-family: FontAwesome;
        color: #c91115; }
  .section-block-Banner .section-element-Content {
    position: relative;
    height: 100%; }
    .section-block-Banner .section-element-Content .row {
      position: relative;
      height: 100%; }
      .section-block-Banner .section-element-Content .row .list-wrap {
        position: absolute;
        bottom: 40px; }

/*--------------- Get In Touch Form ----------------*/
.get-in-touch-wrap {
  position: absolute;
  bottom: -70px;
  right: 15px;
  width: 75%; }
  .get-in-touch-wrap:after {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    background: url(../images/shadow.png);
    position: absolute;
    left: -15px;
    right: -15px;
    bottom: -11px;
    content: "";
    height: 26px;
    min-width: 236px;
    z-index: 1;
    border-radius: 45%; }

.get-in-touch-sec {
  position: relative;
  z-index: 5; }
  .get-in-touch-sec h4 {
    display: block;
    background: #171717;
    text-transform: uppercase;
    color: #fcfbfb;
    text-align: center;
    line-height: 2em;
    margin-bottom: 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 52px; }
    @media only screen and (max-width: 1499px) {
      .get-in-touch-sec h4 {
        font-size: 40px; } }
  .get-in-touch-sec form {
    background: rgba(240, 245, 253, 0.9);
    padding: 25px; }
    .get-in-touch-sec form .form-control {
      background: transparent;
      z-index: 99;
      border-color: #959595; }
      .get-in-touch-sec form .form-control:focus {
        border-color: #0d2f9a; }
    .get-in-touch-sec form button {
      text-align: center;
      display: block;
      background: #0d2f9a;
      color: #ffffff;
      font-family: "Roboto", sans-serif;
      font-weight: 900;
      min-width: 100%;
      font-size: 26px; }
      .get-in-touch-sec form button:hover, .get-in-touch-sec form button:focus {
        background: #171717;
        color: #ffffff;
        border-color: #171717; }
    .get-in-touch-sec form textarea.form-control {
      height: 112px; }

/*---------------------------------------------------------------
4.0 Main 
---------------------------------------------------------------*/
.wrapper {
  overflow-x: hidden; }

.section h2 {
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 20px;
  position: relative;
  color: #272626; }
  .section h2:after {
    content: "";
    background: #0d2f9a;
    width: 75px;
    height: 5px;
    display: block;
    position: absolute;
    bottom: -3px; }

/*----- Slick Arrow ------*/
.slick-arrow {
  position: absolute;
  top: 32%;
  z-index: 9;
  font-size: 30px;
  background: #405baf;
  height: 40px;
  width: 40px;
  text-align: center;
  cursor: pointer;
  opacity: 1;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg); }
  .slick-arrow i {
    color: #afafaf;
    position: absolute;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
    left: 0;
    right: 0;
    color: #ffffff; }
  .slick-arrow:hover, .slick-arrow.active {
    background: #171717; }

.slick-prev.slick-arrow {
  left: -55px !important; }
  .slick-prev.slick-arrow i {
    -webkit-transform: rotate(224deg);
    -ms-transform: rotate(224deg);
    transform: rotate(224deg);
    -webkit-transform-origin: 45% 28%;
    -ms-transform-origin: 45% 28%;
    transform-origin: 45% 28%; }

.slick-next.slick-arrow {
  right: -55px !important; }
  .slick-next.slick-arrow i {
    -webkit-transform: rotate(222deg);
    -ms-transform: rotate(222deg);
    transform: rotate(222deg);
    -webkit-transform-origin: 40% 26%;
    -ms-transform-origin: 40% 26%;
    transform-origin: 40% 26%; }

/*------ Section Block Enquirenow -----*/
.section-block-enquirenow {
  background: #c91115;
  text-align: center;
  padding: 100px 0px 50px; }
  .section-block-enquirenow p {
    color: #ffffff;
    margin-bottom: 30px; }
  .section-block-enquirenow a {
    font-size: 22px;
    color: #181818;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    background: #ffffff;
    min-width: 180px;
    line-height: 2.4em;
    display: inline-block;
    text-transform: uppercase; }
    .section-block-enquirenow a:hover {
      background: #171717;
      color: #ffffff; }

/*----- Section Block Grid -----*/
.section-block-grid {
  text-align: center;
  padding: 100px 0px 0px; }
  @media only screen and (max-width: 1499px) {
    .section-block-grid {
      padding: 60px 0px 0px; } }
  .section-block-grid .featured-thumb {
    display: block;
    height: 200px;
    margin-bottom: 20px;
    position: relative; }
    .section-block-grid .featured-thumb h5 {
      background: #0d2f9a;
      color: #ffffff;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin-bottom: 0px;
      padding: 10px 5px;
      font-size: 17px; }
    .section-block-grid .featured-thumb:hover {
      -webkit-transform: translateY(-6px);
      -ms-transform: translateY(-6px);
      transform: translateY(-6px); }

/*------ Section About Us ------*/
.section-block-about {
  padding: 70px 0px; }
  .section-block-about .featured-thumb {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 380px; }
  .section-block-about p {
    text-align: justify; }
  .section-block-about a.read-more {
    width: 147px;
    line-height: 3em;
    background: #c91115;
    display: inline-block;
    font-size: 15px;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    margin-top: 15px; }
    .section-block-about a.read-more:after {
      content: "\f138";
      font-family: FontAwesome;
      margin-left: 10px; }
    .section-block-about a.read-more:hover {
      background: #171717; }

/*----- Section Service Grid ------*/
.section-service-grid .featured-thumb {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 350px;
  border: 10px solid #f7f6f6;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); }

.section-service-grid .content-sec h3 {
  color: #383737;
  margin-bottom: 20px; }

.section-service-grid .content-sec p {
  text-align: justify; }
  .section-service-grid .content-sec p:last-child {
    margin-bottom: 0px; }

.section-service-grid .grid-item {
  padding: 40px 0px; }
  .section-service-grid .grid-item:nth-child(odd) {
    background: #ebebeb; }

/*----- Section Client Logo -----*/
.section-block-clientlogo {
  padding: 70px 0px; }
  .section-block-clientlogo .clientlogo {
    width: 90%;
    margin: 0 auto; }
  .section-block-clientlogo .grid-item {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    float: none; }
    .section-block-clientlogo .grid-item img {
      text-align: center;
      margin: 0 auto;
      display: inline-block;
      vertical-align: middle; }

/*----- Section Block Testimonials -----*/
.section-block-Testimonial {
  background: #0d2f9a;
  padding: 50px;
  text-align: center; }
  .section-block-Testimonial h2 {
    color: #ffffff;
    margin-bottom: 30px;
    padding-bottom: 10px;
    display: inline-block; }
    .section-block-Testimonial h2:after {
      background: #ffffff;
      text-align: center;
      margin: 0 auto;
      left: 0;
      right: 0;
      width: 80px; }
  .section-block-Testimonial .testi-slider {
    width: 80%;
    margin: 0 auto; }
    .section-block-Testimonial .testi-slider p {
      color: #ffffff;
      font-size: 15px;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-style: italic;
      display: inline;
      position: relative; }
      .section-block-Testimonial .testi-slider p:after {
        content: "";
        background: url(../images/blq-btm.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 22px;
        width: 30px;
        display: inline-block;
        margin-left: 5px;
        vertical-align: bottom; }
      .section-block-Testimonial .testi-slider p:before {
        content: "";
        background: url(../images/blq-top.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 22px;
        width: 30px;
        display: inline-block;
        margin-right: 5px; }
    .section-block-Testimonial .testi-slider h5 {
      font-size: 22px;
      color: #f0f0f0;
      margin-top: 30px;
      margin-bottom: 0px; }
    .section-block-Testimonial .testi-slider span {
      font-size: 15px;
      color: #ffffff;
      display: inline-block; }
  .section-block-Testimonial .slick-arrow {
    top: 0%;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg); }
    .section-block-Testimonial .slick-arrow.slick-prev {
      left: -110px !important; }
    .section-block-Testimonial .slick-arrow.slick-next {
      right: -110px !important; }

/*----- Contact Info -----*/
.section-block-contact-info {
  background: #ebebeb;
  padding: 70px 0px; }
  .section-block-contact-info .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .section-block-contact-info h3 {
    font-size: 40px;
    color: #444242;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 0px; }
  .section-block-contact-info .bdr {
    content: "";
    border: 5px double #444242;
    display: inline-block;
    width: 330px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
    border-left: 0;
    border-right: 0; }
  .section-block-contact-info .sec-title {
    position: relative;
    margin-bottom: 30px; }
  .section-block-contact-info .enquire-now {
    width: 55%; }
    .section-block-contact-info .enquire-now form .form-group {
      margin-bottom: 10px; }
      .section-block-contact-info .enquire-now form .form-group label {
        width: 135px;
        display: inline-block;
        vertical-align: top;
        margin-bottom: 0px;
        margin-right: 6px; }
      .section-block-contact-info .enquire-now form .form-group .form-control {
        width: calc(100% - 145px);
        display: inline-block; }
      .section-block-contact-info .enquire-now form .form-group textarea {
        height: 100px; }
    .section-block-contact-info .enquire-now form button {
      margin-left: 145px; }
      .section-block-contact-info .enquire-now form button:after {
        content: "\f178";
        font-family: FontAwesome;
        margin-left: 10px; }
  .section-block-contact-info .contact-detail {
    width: 40%; }
    .section-block-contact-info .contact-detail .bdr {
      width: 80px; }
    .section-block-contact-info .contact-detail ul li {
      list-style: none;
      border-bottom: 3px solid #d2d2d2;
      position: relative;
      margin-bottom: 12px;
      padding-bottom: 5px; }
      .section-block-contact-info .contact-detail ul li:before {
        content: "";
        background: #d2d2d2;
        height: 1px;
        width: 100%;
        position: absolute;
        margin: -10px 0;
        left: 0;
        right: 0; }
      .section-block-contact-info .contact-detail ul li:last-child {
        border-bottom: none;
        margin: 0px;
        padding: 0px; }
      .section-block-contact-info .contact-detail ul li:first-child:before {
        display: none; }
      .section-block-contact-info .contact-detail ul li .icon {
        margin-right: 15px;
        display: inline-block;
        vertical-align: middle; }
        .section-block-contact-info .contact-detail ul li .icon span {
          font-size: 30px;
          background: #444242;
          border-radius: 100%;
          display: inline-block;
          width: 100px;
          color: #ffffff;
          height: 100px;
          width: 100px;
          position: relative; }
          .section-block-contact-info .contact-detail ul li .icon span:before {
            content: "";
            border: 8px solid #ebebeb;
            height: 3px;
            position: absolute;
            top: 5px;
            bottom: 5px;
            left: 5px;
            right: 6px;
            height: 100%;
            border-radius: 100%;
            height: 90px;
            width: 90px; }
          .section-block-contact-info .contact-detail ul li .icon span i {
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            left: 0;
            right: 0;
            text-align: center; }
      .section-block-contact-info .contact-detail ul li .info {
        width: calc(100% - 134px);
        display: inline-block;
        vertical-align: middle; }
        .section-block-contact-info .contact-detail ul li .info span {
          color: #444242;
          font-size: 15px;
          font-family: "Roboto", sans-serif;
          text-transform: uppercase;
          font-weight: 900;
          display: block; }
        .section-block-contact-info .contact-detail ul li .info a {
          color: #464646;
          font-size: 18px;
          font-family: "Roboto", sans-serif;
          font-weight: 500; }
          .section-block-contact-info .contact-detail ul li .info a.phone {
            font-size: 30px;
            color: #464646;
            font-family: "Roboto", sans-serif;
            font-weight: 900; }
            .section-block-contact-info .contact-detail ul li .info a.phone:hover {
              color: #c91115; }
          .section-block-contact-info .contact-detail ul li .info a:hover {
            color: #c91115; }
        .section-block-contact-info .contact-detail ul li .info address {
          color: #464646;
          font-size: 18px;
          font-family: "Roboto", sans-serif;
          font-weight: 500;
          margin-bottom: 0px; }

/*---------------------------------------------------------------
5.0 Footer
---------------------------------------------------------------*/
.footer-wrapper {
  background: #c91115;
  padding: 20px 0px; }
  .footer-wrapper .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .footer-wrapper .copyright-sec {
    -ms-flex-item-align: center;
    align-self: center; }
    .footer-wrapper .copyright-sec span {
      color: #fffaf8;
      font-size: 15px;
      text-transform: uppercase;
      font-weight: 900; }
  .footer-wrapper .social-share {
    -ms-flex-item-align: center;
    align-self: center; }
