/*---------------------------------------------------------------
3.0 Banner
---------------------------------------------------------------*/

/*------ Home Banner -----*/

.section-block-Banner {
    @include background(center, cover);
    height: 750px;
    position: relative;
    @include breakpoint(x-normal) {
       height: 600px;
    }
    .container {
        position: relative;
        height: 100%;
    }
    .list-wrap {
        background: rgba(255, 255, 255, 0.9);
        padding: 20px;
        border-right: 10px solid $color-purple;
        li {
            position: relative;
            list-style: none;
            padding-left: 22px;
            font-size: 14px;
            color: $black;
            font-family: $font-family;
            font-weight: $font-weight-regular;
            margin-bottom: 10px;
            &:before {
                position: absolute;
                top: -1px;
                bottom: 0;
                left: 0;
                content: "\f046";
                font-family: FontAwesome;
                color: $color-red;
            }
        }
    }
    .section-element-Content {
        position: relative;
        height: 100%;
        .row {
            position: relative;
            height: 100%;
            .list-wrap {
                position: absolute;
                bottom: 40px;
            }
        }
    }
}

/*--------------- Get In Touch Form ----------------*/

.get-in-touch-wrap {
    position: absolute;
    bottom: -70px;
    right: 15px;
    width: 75%;
    &:after {
        @include background(center center, 100%);
        background: url(../images/shadow.png);
        position: absolute;
        left: -15px;
        right: -15px;
        bottom: -11px;
        content: "";
        height: 26px;
        min-width: 236px;
        z-index: 1;
        border-radius: 45%;
    }
}
.get-in-touch-sec {
    position: relative;
    z-index: 5;
    h4 {
        display: block;
        background: $black;
        text-transform: $text-uppercase;
        color: #fcfbfb;
        text-align: center;
        line-height: 2em;
        margin-bottom: 0px;
        font-family: $font-family;
        font-weight: $font-weight-black;
        font-size: 52px;
        @include breakpoint(x-normal) {
            font-size: 40px;
        }
    }
    form {
        background: rgba(240, 245, 253, 0.9);
        padding: 25px;
        .form-control {
            background: transparent;
             z-index: 99;
            border-color: #959595;
            &:focus {
                border-color: $color-purple;
            }
        }
        button {
            text-align: center;
            display: block;
            background: $color-purple;
            color: $color-white;
            font-family: $font-family;
            font-weight: $font-weight-black;
            min-width: 100%;
            font-size: 26px;
            &:hover, &:focus {
                background: $black;
                color: $color-white;
                border-color: $black;
            }
        }
        textarea.form-control {
            height: 112px;
        }
    }
}