/*---------------------------------------------------------------
5.0 Footer
---------------------------------------------------------------*/

.footer-wrapper {
    background: $color-red;
    padding: 20px 0px;
    .container {
        display: flex;
        justify-content: space-between;
    }
    .copyright-sec {
        align-self: center;
        span {
            color: #fffaf8;
            font-size: 15px;
            text-transform: $text-uppercase;
            font-weight: $font-weight-black;
        }
    }
    .social-share {
        align-self: center;
    }
}