/*---------------------------------------------------------------
2.0 Header
---------------------------------------------------------------*/

header {
    border-bottom: 1px solid $color-white;
    .header-top {
        padding: 25px 0px;
        background: $color-white;
        .container {
            display: flex;
            justify-content: space-between;
        }
        .header-logo {
            align-self: center;
            a {
                display: inline-block;
            }
        }
        .header-content {
            align-self: center;
            width: 350px;
            h4 {
                margin-bottom: 0px;
                font-size: 27px;
                font-family: $font-family;
                font-weight: $font-weight-black;
                &:first-child {
                    text-align: left;
                    color: $color-red;
                }
                &:nth-child(2) {
                    text-align: right;
                    color: $color-purple;
                }
            }
        }
        .contact-info {
            align-self: center;
            span {
                display: inline-block;
                vertical-align: middle;
                margin-right: 5px;
            }
            a {
                display: inline-block;
                vertical-align: middle;
                font-size: 30px;
                color: $color-purple;
                font-family: $font-family;
                font-weight: $font-weight-bold;
                &:hover {
                    color: $color-red;
                }
            }
        }
    }
    .header-bottom {
        background: $color-purple;
        .navbar {
            padding: 0;
            .navbar-nav {
                >li {
                    border-right: 1px solid rgba(255, 255, 255, 0.3);
                    >a {
                        color: $color-white;
                        font-family: $font-family;
                        font-weight: $font-weight-medium;
                        font-size: 15px;
                        text-transform: $text-uppercase;
                        display: inline-block;
                        padding: 0px;
                        padding:18px 22px;
                        transition: all 0.3s ease-in-out 0s;
                        @include breakpoint(x-normal) {
                            font-size: 13px;
                        }
                        &:hover {
                            background: $color-white;
                            color: $color-purple;
                        }
                    }
//                    &:first-child {
//                        a {
//                            padding-left: 0px;
//                        }
//                    }
                }
            }
            .collapse {
                display: flex;
                justify-content: space-between;
                .nav {
                    align-self: center;
                }
            }
        }
    }
}

/*----- Social Share -----*/

.social-share {
    align-self: center;
    li {
        position: relative;
    }
    a {
        border: 1px solid $color-white;
        width: 32px;
        height: 32px;
        border-radius: 100%;
        display: inline-block;
        text-align: center;
        transform: rotate(0deg);
        transition: all 0.5s ease-in-out 0s;
        padding: 3px;
        &:hover {
            transform: rotate(360deg);
        }
    }
}

/*----- Sticky Header -----*/

.fixed-header {
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    opacity: 1;
    visibility: visible;
    z-index: 999;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 0px;
    .header-top {
        padding: 16px 0px;
        .header-logo {
            a {
                width: 70%;
            }
        }
        .header-content{
            h4 {
                font-size: 22px;
            }
        }
        .contact-info {
            a {
                font-size: 25px;
            }
        }
    }
}