/*---------------------------------------------------------------
4.0 Main 
---------------------------------------------------------------*/
.wrapper {
    overflow-x: hidden;
}

.section {
    h2 {
        border-bottom: 1px solid $bdr-clr;
        margin-bottom: 20px;
        position: relative;
        color: #272626;
        &:after {
            content: "";
            background: $color-purple;
            width: 75px;
            height: 5px;
            display: block;
            position: absolute;
            bottom: -3px;
        }
    }
}


/*----- Slick Arrow ------*/

 .slick-arrow {
    position: absolute;
    top: 32%;
    z-index: 9;
    font-size: 30px;
    background: #405baf;
    height: 40px;
    width: 40px;
    text-align: center;
    cursor: pointer;
    opacity: 1;
    transform: rotate(135deg);
    i {
        color: #afafaf;
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        left: 0;
        right: 0;
        color: $color-white;   
    }
    &:hover,
    &.active {
        background: $black;
    }
}
.slick-prev.slick-arrow {
    left: -55px !important;
    i {
        transform: rotate(224deg);
        transform-origin: 45% 28%;
    }
}
.slick-next.slick-arrow {
    right: -55px !important;
    i {
        transform: rotate(222deg);
        transform-origin: 40% 26%;
    }
}

/*------ Section Block Enquirenow -----*/

.section-block-enquirenow {
    background: $color-red;
    text-align: center;
    padding: 100px 0px 50px;
    p {
        color: $color-white;
        margin-bottom: 30px;
    }
    a {
        font-size: 22px;
        color: #181818;
        font-family: $font-family;
        font-weight: $font-weight-black;
        background: $color-white;
        min-width: 180px;
        line-height: 2.4em;
        display: inline-block;
        text-transform: $text-uppercase;
        &:hover {
            background: $black;
            color: $color-white;
        }
    }
}

/*----- Section Block Grid -----*/

.section-block-grid {
    text-align: center;
    padding: 100px 0px 0px;
    @include breakpoint(x-normal) {
        padding: 60px 0px 0px;
    }
    .featured-thumb {
        display: block;
        height: 200px;
        margin-bottom: 20px;
        position: relative;
        h5 {
            background: $color-purple;
            color: $color-white;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin-bottom: 0px;
            padding: 10px 5px;
            font-size: 17px;
        }
        &:hover {
            transform: translateY(-6px);
        }
    }
}

/*------ Section About Us ------*/

.section-block-about {
    padding: 70px 0px;
    .featured-thumb {
        @include background(center center, cover);
        height: 380px;
    }
    p {
        text-align: justify;
    }
    a {
        &.read-more {
            width: 147px;
            line-height: 3em;
            background: $color-red;
            display: inline-block;
            font-size: 15px;
            color: $color-white;
            font-family: $font-family;
            font-weight: $font-weight-medium;
            text-align: center;
            text-transform: $text-uppercase;
            margin-top: 15px;
            &:after {
                content: "\f138";
                font-family: FontAwesome;
                margin-left: 10px;
            }
            &:hover {
                background: $black;
            }
        }
    }
}

/*----- Section Service Grid ------*/

.section-service-grid {
    .featured-thumb {
        @include background(center center, cover);
        height: 350px;
        border: 10px solid #f7f6f6;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    }
    .content-sec {
        h3 {
            color: #383737;
            margin-bottom: 20px;
        }
        p {
            text-align: justify;
            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
    .grid-item {
        padding: 40px 0px;
        &:nth-child(odd) {
            background: #ebebeb;
        }
    }
}

/*----- Section Client Logo -----*/

.section-block-clientlogo {
    padding: 70px 0px;
    .clientlogo {
        width: 90%;
        margin: 0 auto;
    }
    .grid-item {
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        float: none;
        img {
            text-align: center;
            margin: 0 auto;
            display: inline-block;
            vertical-align: middle;
        }
    }
}

/*----- Section Block Testimonials -----*/

.section-block-Testimonial {
    background: $color-purple;
    padding: 50px;
    text-align: center;
    h2 {
        color: $color-white;
        margin-bottom: 30px;
        padding-bottom: 10px;
        display: inline-block;
        &:after {
            background: $color-white;
            text-align: center;
            margin: 0 auto;
            left: 0;
            right: 0;  
            width: 80px;
        }
    }
    .testi-slider {
        width: 80%;
        margin: 0 auto;
        p {
            color: $color-white;
            font-size: 15px;
            font-family: $font-family;
            font-weight: $font-weight-regular;
            font-style: italic;
            display: inline;
            position: relative;
            &:after {
                content: "";
                background: url(../images/blq-btm.png);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
                height: 22px;
                width: 30px;
                display: inline-block;
                margin-left: 5px;
                vertical-align: bottom;
            }
            &:before {
                content: "";
                background: url(../images/blq-top.png);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
                height: 22px;
                width: 30px;
                display: inline-block;
                margin-right: 5px;
            }
        }
        h5 {
            font-size: 22px;
            color: #f0f0f0;
            margin-top: 30px;
            margin-bottom: 0px;
        }
        span {
            font-size: 15px;
            color: $color-white;
            display: inline-block;
        }
    }
    .slick-arrow {
        top: 0%;
        transform: rotate(135deg);
        i {
        }
        &.slick-prev {
            left: -110px !important;
        }
        &.slick-next {
            right: -110px !important;
        }
    }
}

/*----- Contact Info -----*/

.section-block-contact-info {
    background: #ebebeb;
    padding: 70px 0px;
    .container {
        display: flex;
        justify-content: space-between;
    }
    h3 {
        font-size: 40px;
        color: #444242;
        font-family: $font-family;
        font-weight: $font-weight-black;
        text-transform: $text-uppercase;
        display: inline-block;
        margin-bottom: 0px;
    }
    .bdr {
        content: "";
        border: 5px double #444242;
        display: inline-block;
        width: 330px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        border-left: 0;
        border-right: 0;
    }
    .sec-title {
        position: relative;
        margin-bottom: 30px;
    }
    .enquire-now {
        width: 55%;
        form {
            .form-group {
                margin-bottom: 10px;
                label {
                    width: 135px;
                    display: inline-block;
                    vertical-align: top;
                    margin-bottom: 0px;
                    margin-right: 6px;
                }
                .form-control {
                    width: calc(100% - 145px);
                    display: inline-block;
                }
                textarea {
                    height: 100px;
                }
            }
            button {
                margin-left: 145px;
                &:after {
                    content: "\f178";
                    font-family: FontAwesome;
                    margin-left: 10px;
                }
            }
        }
    }
    .contact-detail {
        width: 40%;
        .bdr {
            width: 80px;
        }
        ul {
            li {
                list-style: none;
                border-bottom: 3px solid #d2d2d2;
                position: relative;
                margin-bottom: 12px;
                padding-bottom: 5px;
                &:before {
                    content: "";
                    background: #d2d2d2;
                    height: 1px;
                    width: 100%;
                    position: absolute;
                    margin: -10px 0;
                    left: 0;
                    right: 0;
                }
                &:last-child {
                    border-bottom: none;
                    margin: 0px;
                    padding: 0px;
                }
                &:first-child {
                    &:before {
                        display: none;
                    }
                }
                .icon {
                    margin-right: 15px;
                    display: inline-block;
                    vertical-align: middle;
                    span {
                        font-size: 30px;
                        background: #444242;
                        border-radius: 100%;
                        display: inline-block;;
                        width: 100px;
                        color: $color-white;
                        height: 100px;
                        width: 100px;
                        position: relative;
                        &:before {
                            content: "";
                            border: 8px solid #ebebeb;
                            height: 3px;
                            position: absolute;
                            top: 5px;
                            bottom: 5px;
                            left: 5px;
                            right: 6px;
                            height: 100%;
                            border-radius: 100%;
                            height: 90px;
                            width: 90px;
                        }
                        i {
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            left: 0;
                            right: 0;
                            text-align: center;
                        }
                    }
                }
                .info {
                    width: calc(100% - 134px);
                    display: inline-block;
                    vertical-align: middle;
                    span {
                        color: #444242;
                        font-size: 15px;
                        font-family: $font-family;
                        text-transform: $text-uppercase;
                        font-weight: $font-weight-black;
                        display: block;
                    }
                    a {
                        &.phone {
                            font-size: 30px;
                            color: #464646;
                            font-family: $font-family;
                            font-weight: $font-weight-black;
                            &:hover {
                                color: $color-red;
                            }
                        }
                        color: #464646;
                        font-size: 18px;
                        font-family: $font-family;
                        font-weight: $font-weight-medium;
                        &:hover {
                            color: $color-red;
                        }
                    }
                    address {
                        color: #464646;
                        font-size: 18px;
                        font-family: $font-family;
                        font-weight: $font-weight-medium;
                        margin-bottom: 0px;
                    }
                }
            }
        }
    }
}