//  Variables Sections  //

//Colors
$color-white: #ffffff;
$black: #171717;
$color-blue: #1a75bb;
$color-grey: #7a7a7a;
$color-purple: #0d2f9a;
$color-grey: #9fa1a3;
$bdr-clr: #e6e6e6;
$color-red: #c91115;

//Font Family 
$font-family: 'Roboto', sans-serif;

//Font Weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-black: 900;

//Text Transform
$text-uppercase: uppercase;
$text-capitalize: capitalize;